#scroll{
    background: white;
}
hr {
    flex: 1 0 61%;
    margin: 5vh 4vw 0 4vw;
    color: #dedede;
}

.padding {
    flex: 1;
}
.flex-box{
    flex: 10;
}
#card-1{
    background-image: url('/images/ui-ux-header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
#card-1 h1{
    margin-top: 20rem;
    width: 80%;
    font-size: 3em;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    cursor: pointer;
}
#card-2{
    background-color: white;
    background-image: none;
    color: black;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
#card-2 .choose-us{
    background-color: white;
    padding: 0;
}
#card-2 .choose-us p{
    color:black
}
#card-2 .item{
    box-shadow: 0 4px 8px 0 #ededed, 0 6px 20px 0 #EDEDED;
    margin: 25px;
    padding: 25px;
    width: 35%;
    position: relative;
    z-index: 5;
}
#card-2 .row .item p{
    font-family: 'Metropolis-Light';
    line-height: 2rem;
    color: black;
}
#card-2 .row .item span{
    font-family: 'Metropolis-Bold';
    margin-right: 0.5rem;
}
#card-2 .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#card-4{
    background-color: white;
    background-image: none;
    color: black;
    margin-top: 8rem;
    margin-bottom: 5rem;

}
#card-4 .choose-us{
    background-color: white;
    padding: 0;
}
#card-4 .choose-us p{
    color:black
}
#card-4 .item{
    border-radius: 25px;
    margin: 25px;
    padding: 25px;
    width: 35%;
    border: 2px solid transparent;
    background: linear-gradient(to right, white, white), linear-gradient(to right, #2B47F0, #DD4FE9);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    position: relative;
    z-index: 5;
}
#card-4 .item span{
    font-family: 'Metropolis-Light';
    background-image: linear-gradient(29deg,#2B47F0 24% ,#DD4FE9 75% );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
#card-4 #context{
    border: none;
    position: relative;
    top: -35px;
    background: none;
}
#card-4 .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#card-2 .item:after{
    display: block;
    content: '';
    border-bottom: solid 5px transparent;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, white, white), linear-gradient(to right, #2B47F0, #DD4FE9);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
#card-2 .item:hover:after{
    transform: scaleX(1);
}
#card-2 .item:after{
    transform-origin:0% 50%;
}

#card-2 .item:hover span{
    background-image: linear-gradient(29deg,#2B47F0 24% ,#DD4FE9 75% );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.cms .team .card-content{
    background-color: white;
    color: black;
    padding: 3rem 5rem;
    position: relative;
    z-index: 10;
}
.cms .team .card-content h3{
    font-size: 2em;
    font-family: 'Metropolis-Bold';
    line-height: 1.3em;
}
.cms .team .card-content p{
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Metropolis-Light';
}
.cms{
    background: linear-gradient(29deg,#2B47F0 24% ,#DD4FE9 75% );
    color: #fff;
    position: relative;
    padding: 5rem 0;
    display: flex;
}

.cms .team span{
    font-family: 'Metropolis-Light';
    font-size: 1.3rem;
    line-height: 2rem;
    position: relative;
    z-index: 4;
    left: 50%;
    transform: translate(-50%,0%);
    display: inline-block;
    margin-bottom: 35px;
    text-align: center;
}
.cms .team h1, .cms .team h2{
    font-family: 'Metropolis-Bold';
    font-size: 3rem;
    line-height: 4rem;
    position: relative;
    z-index: 4;
    left: 50%;
    transform: translate(-50%,0%);
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
}

.cms .team img{
    width: 80%;
    height: auto;
    position: relative;
    z-index: 4;
    margin: auto;
    display: block;
    margin-bottom: -9rem;
}

.cms .team .icon {
    width: 60px;
    height: 65px;
    position: relative;
    z-index: 4;
    margin: auto;
    display: block;
    margin-bottom: 35px;
    background-image: url('/images/shopify_icon.svg');
}

.choose-us{
    background-color: #181818;
    padding: 5rem;
    padding-top: 8rem;
}
.choose-us .row{
    display: flex;
    justify-content: center;
}
.choose-us .row .item{
    width: 25%;
    padding: 50px;
    font-size: 18px;
}
.choose-us .row .item p{
    font-family: 'Metropolis-Light';
    line-height: 2rem;
    color: white;
}
.choose-us .row .item span{
    font-family: 'Metropolis-Bold';
}

.for-you{
    background-color: #fff;
    font-family: 'Metropolis-Light';
    overflow: hidden;
    /* padding-top: 7rem; */
}
.for-you .row{
    display: flex;
    justify-content: center;
}
.for-you .item-1{
    width: 15%;
    line-height: 2.5rem;
    font-family: 'Metropolis-Bold';
    font-size: 22px;
}
.for-you .item-2{
    width: 60%;
}
.for-you ul li{
    padding-left: 8px;
}


.for-you ul{
    list-style: none;
    list-style-image: url(../images/right-arrow.webp);
    width: 65%;
    line-height: 2rem;
    font-family: 'Metropolis-Light';
    padding: 0;
    margin: auto;
    margin-bottom: 4rem;
}

.for-you ul li {
    margin-top: 2rem;
    position: relative;
    z-index: 4;
    font-size: 1.2rem;
}

.buy-shop{
    display: flex;
    background: linear-gradient(29deg,#2B47F0 24% ,#DD4FE9 75% );
    align-items: center;
    color: #fff;
    position: relative;
    padding: 3rem 0;
}

.buy-shop .shop{
    display: flex;
    width: 100%;
}

.buy-shop svg.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.buy-shop svg.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.buy-shop .shop p{
    flex: 4;
    font-family: 'Metropolis-Light';
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    z-index: 4;
}

.buy-shop .shop p span{
    font-size: 1.3rem;

}

.buy-shop .shop p span a{
    font-family: 'Metropolis-bold';
    color: white;
    text-decoration: none;}

.buy-shop .shop img{
    height: auto;
    max-width: 50vw;
    position: relative;
    z-index: 4;
    margin: auto;
    margin-top: -7rem;
}

.buy-shop .stroke {
    width: 80%;
    position: absolute;
}
.buy-shop .card{
    width: 70%;
    padding-left: 8rem;
    line-height: 2em;
    overflow: hidden;
    overflow-wrap: break-word;
}
.buy-shop .card p{
    width: 80%
}

.buy-shop .card-image{
    width: 30%;

}
.ui-ux-design {
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 3;
    padding: 3rem 0rem;
    display: flex;
    margin-bottom: -2px;
    color: white;
}

.ui-ux-design .padding {
    flex: 1;
}

.ui-ux-design .content-div {
    flex: 10;
}
.ui-ux-design .content-div > p{
    color: white;
    font-family: 'Metropolis-Light';
    line-height: 1.5rem;
}

.ui-ux-design .content-div > p.strong{
    font-family: 'Metropolis-Bold';
    font-size: 2rem;
    line-height: 2rem;
}

.ui-ux-design.white {
    background-color: black;
}

.ui-ux-design .content-div .ux-design {
    display: flex;
    flex-wrap: wrap;
}

.ui-ux-design .content-div .ux-design .descriptoin {
    flex: 1 0 15rem;
    padding: 2rem;
    font-family: 'Metropolis-Light';
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.ui-ux-design .content-div .ux-design .descriptoin.wide {
    flex: 1 0 100%;
    padding: 2rem 0;
}

.ui-ux-design .content-div .ux-design .descriptoin h2{
    margin: 1rem 0;
    font-family: 'Metropolis-Bold';
    line-height: 2rem;
}

.ui-ux-design .content-div .ux-design .descriptoin h3{
    font-family: 'Metropolis-Bold';
    font-size: 1.5rem;
}

.ui-ux-design .content-div .ux-design .descriptoin h3 strong{
    /*color: #2B47F0;*/
}


.ui-ux-design .content-div .ux-design .descriptoin ul{
    list-style: none;
    list-style-position: inside;
    list-style-image: url(https://res.cloudinary.com/dzxxuqpvd/image/upload/v1666766798/uiux/right-arrow_guyjwl.webp);
    padding: 0;
    line-height: 2rem;
    font-family: 'Metropolis-Light';
}
@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
    .ui-ux-design .content-div .ux-design .descriptoin h1 strong{ 
        background-image: linear-gradient(to right, #2B47F0, #DD4FE9);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
}

/* 990px and below */
@media screen and (max-width: 1375px) {
    #card-4{
        margin-top: 12rem;
    }
    #card-1 h1{
        margin-top: 8rem;
    }
}
@media screen and (max-width: 1100px) {
    .get-quote,.lang{
        display: block !important;
    }
    .con{
        display: inline-block !important;
    }
    .navbar,.contact-btn{
        display: none !important;
    }
    .buy-shop{
        padding: 3rem 3rem;;
    }
    #card-4{
        margin-top: 18rem;
    }
}


@media screen and (max-width: 895px) {
    #card-1 h1{
        font-size: 1.8em;
    }
    #card-1{
        background-position: center center;
        height: 35vh;
    }
    .cms .team .card-content{
        padding: 1rem 3rem;
    }
    .cms .team .card-content h2{
        font-size: 1.5em;
    }
    .cms .team .card-content p{
        font-size: unset;
    }
    #card-2 .team h2 ,#card-3 .team h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    #card-2 ,#card-3{
        padding:0 ;
    }
    #card-2 .row .item{
        width: auto;
        padding: 16px 35px;
        font-size: 1em;
    }
    #card-3{
        padding: 5rem 0 ;
    }
    #card-4{
        padding:0 ;
    }
    #card-4{
        margin-top: 15rem;
    }
    #card-4 .row .item{
        width: auto;
        padding: 1.2rem;
        font-size: 1.2em;
    }
    #card-4 #context{
        padding: 0;
    }
    .buy-shop .shop{
        flex-wrap: wrap;
    }
    .buy-shop .shop img{
        width: 20rem;
    }
    .buy-shop .shop{
        justify-content: center;
    }
    .buy-shop .card, .buy-shop .card-image{
        width:auto;
    }
    .buy-shop .card{
        padding-left: 0;
    }
}

@media screen and (max-width: 672px) {
    .cms .team img{
        margin-bottom: -9rem;
    }
    #card-3 .team span{
        font-size: 1rem;
    }
    .for-you{
        padding-top: 9rem;
    }
    .buy-shop{
        padding: 3rem 3rem;
    }

    .buy-shop{
        flex-direction: column;
    }
    #card-1 h1{
        margin-top: 4rem;
    }
    .buy-shop .content{
        margin-top: 0;
    }
    #card-4{
        margin-top: 18rem;
    }
    .ui-ux-design .content-div > p.strong{
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 300px) {
    #card-1 h1{
        margin-top: 0;
    }
    #card-4{
        margin-top: 24rem;
    }
    .ui-ux-design .content-div .project .background {
        margin: -1rem;
    }
}
